body {
    background-color: rgb(199, 192, 176);
}

form {
    width: 300px;
    height: fit-content;
    padding: 30px;
    margin-top: 5px;
    font: 1em sans-serif;
    background-color: antiquewhite;
}

.hwelcome {
    text-align: center;
    margin-top: -5px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: -10px;
}

button {
    height: 40px;
    width: 100%;
    margin-top: 2px;
    font-size: 18px;
}

.rememberMe {
    text-align: right;
    font-style: italic;
}

.block {
    width:500px;
    max-height: fit-content;
    padding: 30px;
    background-color: rgb(173, 219, 204);
    font: 1em sans-serif;
}

.block h2 {
    font-weight: normal;
    text-align: center;
    overflow: hidden;
    margin: 2px;
}

.block h2::before, .block h2::after {
    position: relative;
    display: inline-block;
    content: '';
    height: 1px;
    background: black;
    vertical-align: middle;
    width: 50%;
}
