body {
    background-color: rgb(199, 192, 176);
}

form {
    width: 300px;
    height: fit-content;
    padding: 30px;
    margin-top: 5px;
    font: 1em sans-serif;
    background-color: antiquewhite;
}

.hwelcome {
    text-align: center;
    margin-top: -5px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-bottom: -10px;
}

button {
    height: 40px;
    width: 100%;
    margin-top: 2px;
    font-size: 18px;
}

.rememberMe {
    text-align: right;
    font-style: italic;
}

.container {
    display: flex;
    width: 100vw;
}

.container > div {
    flex-flow: row;
    text-align: center;
    list-style-position: inside;
    width: 50vw;
    background-color: rgb(173, 219, 204, 0.9);
    font: 1.5em sans-serif;
    border: 1px solid black;
}

